<li [ngClass]="{'media thumbnail': true,
				'list-group-item-success': postLoveTts > 0,
				'list-group-item-danger': postLoveTts < 0}">
    <div class="media-body">
      <div>
        <h3 class="media-heading" style="margin: 10px;">{{ postName }}
        <i class="pull-right" style="font-size: initial;">{{ postDate | date: "MMM d, y h:mm a" | uppercase }}</i>
        </h3>
      </div>
      <div class="pull-left" style="margin: 10px;">
          <p>{{ postStatus }}</p>
      </div>
      <div class="pull-left" style="margin: 10px;">
            <button class="btn btn-success btn-sm" style="margin-right: 10px;" (click)="incrementLoveits()"><span class="glyphicon"></span> Love it!</button>
            <button class="btn btn-danger btn-sm" (click)="decrementLoveits()"><span class="glyphicon"></span>Don't love it!</button>
      </div>
      <div class="pull-right" style="margin: 10px;">
        <button class="btn btn-danger btn-sm" (click)="deletPost(id)"><span class="glyphicon"></span>Supprimer post</button>
      </div>
    </div>
</li>



